<!-- Title functioning with user's name -->
<h2>Welcome, {{user.first_name}}!</h2>

<!-- session will be cleared for that user and redirected to login page (functioning) -->
<a href='/logout'>Logout</a>

<!-- form for user to add a favorite book -->
<h3>Add a Favorite Book</h3>
<form action='/books/create' method="POST">
    {% csrf_token %}

    <label for='title'>Title</label>
    <input type='text' id='title' name='title'>

    <label for='description'>Description</label>
    <input type='text' id='description' name='description'>

    <input type='submit' value='Add'>
</form>