<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- for loop for len-1 of session dictionary to get attempt # -->
    <p>Random Word: attempt #insert loop length here</p>
    {{word}}
    <form action= "/random_word" method= "post">
        {% csrf_token %}
        <input type= "submit" value="New Word">
    </form>
</body>
</html>