<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Show</title>
</head>
<body>
    <h2>Edit Show {{update_show.id}}</h2>
    <a href="/shows">Go Back</a>
    
    <form action="/update/{{update_show.id}}" method = "POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" id="title" name="title">

        <label for="network">Network</label>
        <input type="text" id="network" name="network">

        <label for="release_date">Release Date</label>
        <input type="date" id="release_date" name="release_date">

        <label for="description">Description</label>
        <input type="text" id="description" name="description">

        <input type="submit" value="Update">
    </form> 

    <a href="/shows/{{update_show.id}}">Back to Show</a>
</body>
</html>