<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
</head>
<body>
    <h2>Add a Book</h2>
    <form action = '/create_book' method="POST">
        {% csrf_token %}

        <label for="title">Title</label>
        <input type="text" id="title" name="title">

        <label for="decription">Description</label>
        <input type="text" id="decription" name="decription">

        <input type="submit" value="Add Book!">
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>***ID***</td>
                <td>***Title***</td>
                <td>***Acion***</td>
            </tr>
        </tbody>
    </table>
    
    
</body>
</html>