<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Dojo and Ninjas" content="Ninjas and the dojos they belong to">
    <title>Dojo and Ninjas</title>
</head>
<body>

    <h3>Add a Dojo</h3>
    <form action="/create_dojo" method="POST">
        {% csrf_token %}

        <label for="name">Name</label>
        <input type="text" id="name" name="name">

        <label for="name">City</label>
        <input type="text" id="city" name="city">

        <label for="name">State</label>
        <input type="text" id="state" name="state">

        <input type="submit" value="Add!">
    </form>

    <h3>Add a Ninja</h3>
    <form action="/create_ninja" method="POST">
        {% csrf_token %}

        <label for="name">First Name</label>
        <input type="text" id="first_name" name="first_name">

        <label for="name">Last Name</label>
        <input type="text" id="last_name" name="last_name">

        <label for="dojo">Dojo</label>
        <select name="dojo" id="dojo">
            <option value=""></option>
            {% for dojo in all_dojos %}
                <option value= "{{dojo.id}}">{{dojo.name}}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Add!">
    </form>
    
    
    <h3>All the Dojos</h3>
    <p>{% for dojo in all_dojos %}
        Ninjas at the {{dojo.name}} Dojo in {{dojo.city}} - {{ninja|length}}

            <ul>{% for ninja in all_ninjas%}
                    {% if ninja.dojo.id == dojo.id %} 
                        <li>{{ninja.first_name}} {{ninja.last_name}}</li>

                    {% endif %}
                {% endfor %}
                </li>
            </ul>
            
        <form action="/delete" method="POST">
            {% csrf_token %}
            <input type="submit" value= "Delete Dojo and Ninjas!">
        </form>
    {% endfor %}</p>
    
</body>
</html>

