<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Dojo and Ninjas" content="Ninjas and the dojos they belong to">
    <title>Dojo and Ninjas</title>
</head>
<body>

    <h3>Add a Dojo</h3>
    <form action="/create" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">

        <label for="name">City</label>
        <input type="text" id="city" name="city">

        <label for="name">State</label>
        <input type="text" id="state" name="state">

        <input type="submit" value="Add!">
    </form>

    <h3>Add a Ninja</h3>
    <form action="/create" method="POST">
        <label for="name">First Name</label>
        <input type="text" id="first_name" name="first_name">

        <label for="name">Last Name</label>
        <input type="text" id="last_name" name="last_name">

        <label for="name">Dojo</label>
        <input type="" id="state" name="state">

        <input type="submit" value="Add!">
    </form>
    
    
    <h3>All the Dojos</h3>
    <p>{{all_dojos}}</p>
    <ul>{% for dojo in all_dojos %}
        <li>{{dojo.name}}</li>
    {% endfor %}</ul>
</body>
</html>

