<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="users" content="Create a user">
    <title>Users</title>
</head>
<body>
    <h3>All the Users</h3>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% for user in all_users %}
                    <p>{{user.id}}</p>
                    {% endfor %}</td>

                <td>{% for user in all_users %}
                    <p>{{user.first_name}} {{user.last_name}}</p>
                    {% endfor %}</td>

                <td>{% for user in all_users %}
                    <p>{{user.email}}</p>
                    {% endfor %}</td>

                <td>{% for user in all_users %}
                    <p>{{user.age}}</p>
                    {% endfor %}</td>
            </tr>
        </tbody>
    </table>   

    <h3>Add a User</h3>
    <form action = "/create" method="POST">
        {% csrf_token %}
        
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name">
    
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name">
    
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">

        <label for="age">age:</label>
        <input type="text" id="age" name="age">

        <input type="submit" value="CREATE!">
    </form>
</body>
</html>