<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Dojo Survey Index" content="Dojo Survey Form">
    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>
<body>
    <form>
        <label for="name">Your Name:</label> 
        <input type=text id=name name=name>

        <p>Select Gender:</p>
        <label for= "male">Male:</label>
        <input type="radio" id=male name=gender value="male">

        <label for= "female">Female:</label>
        <input type="radio" id=female name=gender value="female">

        <label for= "other">Other:</label>
        <input type="radio" id=other name=gender value="other">

        <p>Dojo Location:</p>
        <select name='Favorite language'>
            <option value="blank"> </option>
            <option value="online">Online</option>
            <option value="houston">Houston</option>
            <option value="san_jose">San Jose</option>
            <option value="chicago">Chicago</option>
        </select>

        <p>Favorite Language:</p>
        <select name='Favorite language'>
            <option value="blank"></option>
            <option value="javascript">JavaScript</option>
            <option value="python">Python</option>
            <option value="html">HTML</option>
            <option value="decline">Prefer not to say</option>
        </select>

        <p>Favorite Color:</p>
        <label for="blue">Blue</label>
        <input type="checkbox" id="blue" name="color" value="blue">
        <label for="green">Green</label>
        <input type="checkbox" id="green" name="color" value="green">
        <label for="red">Red</label>
        <input type="checkbox" id="red" name="color" value="red">
        <label for="black">Black</label>
        <input type="checkbox" id="black" name="color" value="black">
        <label for="purple">Purple</label>
        <input type="checkbox" id="purple" name="color" value="purple">

        <p>Comment (optional):</p>
        <textarea name='describe'></textarea>

        <input type="submit" value="Submit!">
    </form>    
</body>
</html>