*{ 
    margin: 0px;
    padding: 0px;
}

#wrapper{
    height: auto;
    width: 1060px;
    padding: 20px;
}

p{
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: solid;

}

.date_time{
    margin-top: 20px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: solid;
}